{% extends "base.html" %}

{% block title %}Admin Kontrollpanel{% endblock %}

{% block content %}
<div class="info-container">
    <h1>Välkommen till Kontrollpanellen för admin</h1>
    
    <p>Detta är ett säkert område för administrativa uppgifter.</p>


        <form action><button type="submit">Bokade rum</button></form> 

        <form action="{{url_for('K1_routes.k1')}}" method="get">
            <button type="submit">Boka</button>
        </form>
        <form action="{{ url_for('guest_routes.guest_login') }}" method="get">
            <button type="submit">Ändra bokning</button>
        </form>
</div>

{% endblock %}
