{% extends "base.html" %}

{% block title %}Registration{% endblock %}

{% block content %}
<div class="info-container">
    <h2>Register as an new admin</h2>

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

    <form action="/admin/register" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Register</button>
    </form>

    <p>Already an admin? 
        <a href="{{ url_for('admin_routes.admin_login_page') }}">Login</a>
    </p>
</div>
{% endblock %}

