{% extends "base.html" %}

{% block title %}Admin Login{% endblock %}

{% block content %}
<div class="info-container">
    <h2>Admin Login</h2>

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

    <form action="/admin/login" method="post">
        <label for="username">username:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">login</button>
    </form>

    <p>New admin? 
        <a href="{{ url_for('admin_routes.admin_register_page') }}">Register as admin</a>
    </p>

    {% if authenticated %}
        <p>You have now signed in{{ username }}.</p>
        {% set admin_dashboard_url = url_for('admin_routes.admin_dashboard') %}
        <script>
            window.location.href = "{{ admin_routes.admin_dashboard_url }}";
        </script>
    {% endif %}
</div>
{% endblock %}
</div>
