{% extends "base.html" %}

{% block title %}Admin Kontrollpanel{% endblock %}

{% block content %}
<div class="info-container">
    <h1>Admin Dashboard</h1>
    
    <p>This is a secure area for administrative tasks.</p>


        <form action><button class="button-action" type="submit">Booking overview</button></form> 

        <form action="{{url_for('K1_routes.k1')}}" method="get">
            <button class="button-action" type="submit">Book a room</button>
        </form>
        <form action="{{ url_for('guest_routes.guest_login') }}" method="get">
            <button class="button-action" type="submit">Edit bookning</button>
        </form>
</div>

{% endblock %}
