{% extends 'base.html' %}

{% block title %}cancel booking{% endblock %}

{% block content %}
<form onsubmit="return cancelBooking();">
    <label for="booking_reference">Booking reference:</label>
    <input type="text" id="booking_reference" name="booking_reference" required>

    <button type="submit">Cancel booking</button>
</form>

<div id="bookingNotFoundMessage" style="display: none; color: red;">
    Booking not found. Please try again.
</div>

<script>
    async function cancelBooking() {
        var bookingReference = document.getElementById('booking_reference').value;

        if (!isValidBookingReference(bookingReference)) {
            alert('Ogiltig bokningsreferens. Var god försök igen.');
            return false;
        }

       
</script>

{% endblock %}
