{% extends "base.html" %}
{% block content %}

    <div class="info-container">
        <h1>Välkommen till {{ results[0][0] }}</h1> 
        <h2>Hotel Information</h2>

        
            {% for hotel in results %}
                <div class="hotel-info">
                    <h3>{{ hotel[0] }}</h3>
                    <p>Country: {{ hotel[1] }}</p>
                    <p>City: {{ hotel[2] }}</p>
                    <p>Address: {{ hotel[3] }}</p>
                    <p>Email: {{ hotel[4] }}</p>
                    <p>Phone: {{ hotel[5] }}</p>
                </div>
            {% endfor %}
    </div>

{% endblock %}
