{% extends "base.html" %}
{% block title %}Guest Inloggning{% endblock %}
{% block content %}
<div class="info-container">
    <h2>Gäst Inloggning</h2>
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
    <form action="/guest/login" method="post">
        <label for="booking reference">booking reference</label>
        <input type="booking_id" id="booking_id" name="booking_id" required>
        <button type="submit">se bokning</button>
    </form>
</div>
{% endblock %}
