{% extends "base.html" %}
{% block title %}Gäst Dashboard{% endblock %}
{% block content %}
<div class="info-container">
    <h2>Välkommen {{ bookings[0][7] }}</h2>
    <h2> Här är dina Bokningar</h2>
    <table>
        
        <tbody>
            {% for booking in bookings %}
                <tr>
                    <td>Boknings ID:</td>
                    <td>{{ booking[0] }}</td>
                </tr>
                <tr>
                    <td>Gäst ID:</td>
                    <td>{{booking[1]}}</td>
                </tr>
                <tr>
                    <td>Rums ID:</td>
                    <td>{{ booking[2] }}</td>
                </tr>
                <tr>
                    <td>Room Type:</td>
                    <td>{{booking[15]}}</td>
                </tr>
                <tr>
                    <td>Price Per Night:</td>
                    <td>{{booking[13]}}</td>
                </tr>
                <tr>
                    <td>Incheckningsdatum:</td>
                    <td>{{ booking[3] }}</td>
                </tr>
                <tr>
                    <td>Utcheckningsdatum:</td>
                    <td>{{ booking[4] }}</td>
                </tr>
                <tr>
                    <td>Status:</td>
                    <td>{{ booking[5] }}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{booking[9]}}</td>
                </tr>
                <tr>
                    <tr>
                        <td>Åtgärd:</td>
                        <td>
                            <button class="avboka" onclick="cancelBooking('{{ booking[0] }}')">Avboka</button>
                        </td>
                    </tr>
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    // JavaScript function to prompt for confirmation
    function cancelBooking(bookingID) {
        if (confirm('Are you sure you want to cancel this booking?')) {
            // If user confirms, redirect to cancel booking endpoint
            window.location.href = "/cancel_booking?booking_id=" + bookingID;
        }
    }
</script>

{% endblock %}
