{% extends "base.html" %}

    <title>{% block title %}Bokningsapplikation{% endblock %}</title>
    <script>
        function saveDates() {
            var start_date = document.getElementById('start_date').value;
            var end_date = document.getElementById('end_date').value;
            var guests = document.getElementById('guests').value;

            sessionStorage.setItem('start_date', start_date);
            sessionStorage.setItem('end_date', end_date);
            sessionStorage.setItem('guests', guests);
        }

        async function getBooking() {
            var bookingReference = document.getElementById('booking_reference').value;
            try {
                const response = await fetch(`/get_booking/${bookingReference}`);
                const data = await response.json();

                if (response.ok) {
                    console.log(data);
                    window.location.href = '/bekraftelse';
                } else {
                    alert(data.error || 'Bokning hittades inte.');
                }
            } catch (error) {
                console.error('Fel vid asynkront anrop:', error);
                alert('Något gick fel vid hämtning av bokningen.');
            }
            return false;
        }
    </script>
    <script>
        function validateForm() {
            var guests = parseInt(document.getElementById('guests').value);
            var checkboxes = document.getElementsByName('selected_prices[]');
    
            var selectedRooms = 0;
    
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].checked) {
                    selectedRooms++;
                }
            }
    
            if (selectedRooms > 3 || (selectedRooms * 2) > guests && guests > 1) {
                alert("Du kan inte boka mer än 3 rum eller överskrida det maximala antalet gäster (6).");
                return false;
            }
    
            return true;
        }
    </script>
</head>
<body>
{% block content %}
<div class="info-container">
    <h2>Välkommen till Crazy Frog Hotel </h2>
    <h2>Ange datum för din vistelse</h2>

    <form action="/available_rooms" method="post">
        <label for="start_date">Ankomstdatum:</label>
        <input type="date" id="start_date" name="start_date" required>

            <label for="end_date">Avresedatum:</label>
            <input type="date" id="end_date" name="end_date" required>

            <label for="guests">Antal gäster:</label>
            <select id="guests" name="guests" required>
                <option value="1">1 gäst</option>
                <option value="2">2 gäster</option>
                <option value="3">3 gäster</option>
                <option value="4">4 gäster</option>
                <option value="5">5 gäster</option>
                <option value="6">6 gäster</option>
            </select>

        <button type="submit">Se rum</button>
    </form>

</div>
{% endblock %}
</body>
</html>
