{% extends "base.html" %}

    <title>{% block title %}Booking application{% endblock %}</title>
    </head>
<body>
{% block content %}
<div class="info-container">

    <h2>Welcome to Crazy Frog Hotel </h2>
    <h4>Specify the date of your stay</h4>

    <form action="/available_rooms" method="post" onsubmit="return checkDateRules()">
        <label for="start_date">Arrival date:</label>
        <input class="input" type="date" id="start_date" name="start_date" min="{{ current_date }}" required>

        <label for="end_date">Departure date:</label>
        <input class="input" type="date" id="end_date" name="end_date" required>

        <label for="guests">Number of guests:</label>
        <select id="guests" name="guests" required>
            <option value="1">1 guest</option>
            <option value="2">2 guests</option>
            <option value="3">3 guests</option>
            <option value="4">4 guests</option>
            <option value="5">5 guests</option>
            <option value="6">6 guests</option>
        </select>

        <button class="button-action" type="submit">See available rooms</button>
    </form>

    <script>
        function checkDateRules() {
            var startDateInput = document.getElementById('start_date');
            var endDateInput = document.getElementById('end_date');
            var formattedCurrentDate = new Date().toISOString().split('T')[0];

            // Check if the start date is in the past
            if (startDateInput.value < formattedCurrentDate) {
                alert("You need to select a date in the future.");
                startDateInput.value = formattedCurrentDate;
            }

            // Check if the end date is earlier than the start date
            if (endDateInput.value <= startDateInput.value) {
                alert("Departure date cannot be earlier than arrival date.");
                endDateInput.value = startDateInput.value;
                return false;
            }

            // Set the min attribute for both start and end date inputs
            startDateInput.setAttribute('min', formattedCurrentDate);
            endDateInput.setAttribute('min', formattedCurrentDate);

            // Additional validation logic, if any

            return true; // Form will be submitted if all checks pass
        }
    </script>
    <script>
        function saveDates() {
            var start_date = document.getElementById('start_date').value;
            var end_date = document.getElementById('end_date').value;
            var guests = document.getElementById('guests').value;

            sessionStorage.setItem('start_date', start_date);
            sessionStorage.setItem('end_date', end_date);
            sessionStorage.setItem('guests', guests);
        }

        async function getBooking() {
            var bookingReference = document.getElementById('booking_reference').value;
            try {
                const response = await fetch(`/get_booking/${bookingReference}`);
                const data = await response.json();

                if (response.ok) {
                    console.log(data);
                    window.location.href = '/bekraftelse';
                } else {
                    alert(data.error || 'Booking not found!');
                }
            } catch (error) {
                console.error('Error during asynchronous call:', error);
                alert('Incorrect retrieval of the booking occurred.');
            }
            return false;
        }
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var today = new Date();

            var formattedToday = today.toISOString().split('T')[0];

            document.getElementById('start_date').value = formattedToday;

            var tomorrow = new Date(today);
            tomorrow.setDate(today.getDate() + 1);

            var tomorrowFormatted = tomorrow.toISOString().split('T')[0];

            document.getElementById('end_date').value = tomorrowFormatted;
  
            document.getElementById('end_date').min = tomorrowFormatted;

            var startDateInput = document.getElementById('start_date');
            var endDateInput = document.getElementById('end_date');
    
            startDateInput.setAttribute('min', formattedToday);
            endDateInput.setAttribute('min', formattedToday);

            if (startDateInput.value < formattedToday) {
                alert("You need to select a date in the future.");
                startDateInput.value = formattedToday;
            }
            if (endDateInput.value <= startDateInput.value) {
                alert("Departure date cannot be earlier than arrival date.");
                endDateInput.value = tomorrowFormatted;
            }
        });
    </script>
</div>
{% endblock %}
</body>
</html>