<!DOCTYPE html>
{% extends "base.html" %}
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Bokningsapplikation{% endblock %}</title>
</head>
<body>

    {% block content %}
    <div class="info-container">
        <h1>Tillgängliga rum</h1>
            
<div>
    <p><strong>Start Date:</strong> <span id="booked-start-date"></span></p>
    <p><strong>End Date:</strong> <span id="booked-end-date"></span></p>
    <p><strong>Guests:</strong> <span id="booked-guests"></span></p>
</div>
<script>
    document.getElementById("booked-start-date").innerText = sessionStorage.getItem('start_date');
        document.getElementById("booked-end-date").innerText = sessionStorage.getItem('end_date');
        document.getElementById("booked-guests").innerText = sessionStorage.getItem('guests');
</script>
        <div class="posts-container">
            {%for result in results%}
            <div class="info-post">
                <!-- Visa rummets bild -->
                <img src="data:image/webp;base64,{{ result.file_content_base64 }}" alt="{{ result.filename }}" style="max-width: 200px; max-height: 200px;">
                <div class="info-details">
                    <!-- Visa rummets information -->
                    <h2>{{ result.roomtype }}</h2>
                    <div class="details">
                        <p>Pris: {{result.pricepernight}}$</p>
                        <button class="button-action" onclick="location.href='/room_info?room_id={{ result.room_id }}'" type="submit">Visa detaljer</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endblock %}
</body>
</html>