<!DOCTYPE html>
{% extends "base.html" %}
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Bokningsapplikation{% endblock %}</title>
    
<table>
    <thead>
        <tr>
            <th>Välj rum</th>
            <th>Roomtype</th>
            <th>Capacity</th>
            <th>Price per night</th>
        </tr>
    </thead>
    <tbody>
        <p>Tillgängliga rum</p>
        {% for row in result %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<button type="submit">Boka valda rum</button>
</head>
</html>