{% extends "base.html" %}

{%block content%}   
<title>{% block title %}Bokningsapplikation{% endblock %}</title>
{%block content%}
<div class="info-container">
<h1>Bokningsapplikation</h1>    
<body>

<table>
    <thead>
        <tr>
            {% if result %}
            <th>Välj rum</th>
            <th>Roomtype</th>
            <th>Capacity</th>
            <th>Price per night</th>
        </tr>
    </thead>
    <tbody>
        <p>Tillgängliga rum</p>
        {% for row in result %}
            <tr>
                <td><input type="checkbox" name="selected_prices[]" value="{{ row[2] }}"></td>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<button type="submit">Boka valda rum</button>
{%endblock%}
</body>
</html>
