{% extends "base.html" %}
{% block title %}Room Details{% endblock %}

{% block content %}
<div class="info-container">
    <img src="static/img/08e5b9ba-8d64-4c2f-b31a-ba803e022655.webp" alt="Room Image" width="500" height="500">
    <div class="room-info">
        <h2>Room Details</h2>
        <p><strong>Room ID:</strong> {{ room[0] }}</p>
        <p><strong>Room Type:</strong> {{ room[1] }}</p>
        <p><strong>Price Per Night:</strong> {{ room[2] }}</p>
        <p><strong>Total Price:</strong> {{ total_price }}</p>

        <form action="/save_booking" method="post" onsubmit="return validateForm()">
            <input type="hidden" name="room_id" value="{{ room[0] }}">
            <input type="hidden" name="room_type" value="{{ room[1] }}">
            <input type="hidden" name="price_per_night" value="{{ room[2] }}">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required><br>
            <label for="epost1">Email:</label>
            <input type="email" id="epost1" name="epost1" required>
            <label for="epost2">Confirm your email:</label>
            <input type="email" id="epost2" name="epost2" required>
            <button type="submit" id="book-button">Book this room</button>
        </form>
    </div>
</div>

<script>
    function validateForm() {
        var epost1 = document.getElementById('epost1').value;
        var epost2 = document.getElementById('epost2').value;

        if (epost1 !== epost2 || !isValidEmail(epost1)) {
            alert('E-postadresserna matchar inte eller är ogiltiga. Var god försök igen.');
            return false;
        } else {
            alert('E-postadresserna matchar!');
            return true;
        }
    }

    function isValidEmail(email) {
        return true;
    }
</script>
{% endblock %}
