{% extends "base.html" %}
{% block title %}Room Details{% endblock %}

{% block content %}
<div class="info-container">
    <img src="static/img/08e5b9ba-8d64-4c2f-b31a-ba803e022655.webp" alt="Room Image" width="500" height="500">
    <div class="room-info">
        <h2>Room Details</h2>
        <p><strong>Room ID:</strong> {{ room[0] }}</p>
        <p><strong>Room Type:</strong> {{ room[1] }}</p>
        <p><strong>Price Per Night:</strong> {{ room[2] }}</p>
        <p><strong>Total Price:</strong> {{ total_price }}</p>
        

    
    
    
    <form action="/save_booking" method="post" id="book-form">
        <input type="hidden" name="room_id" value="{{ room[0] }}">

        <input type="checkbox" id="all_inclusive" name="options" value="All-inklusive">
        <label for="all_inclusive">All-inklusive</label>

        <input type="checkbox" id="extra_bed" name="options" value="Extrasäng">
            <label for="extra_bed">Extrasäng</label>
        
            <input type="checkbox" id="breakfast" name="options" value="Frukost">
            <label for="breakfast">Frukost</label>

        <br>
        <br>
        <input type="hidden" name="room_type" value="{{ room[1] }}">
        <input type="hidden" name="price_per_night" value="{{ room[2] }}">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br><label for="epost1">E-postadress:</label>
        <input type="email" id="epost1" name="epost1" required>
        <label for="epost2">Bekräfta e-postadress:</label>
        <input type="email" id="epost2" name="epost2" required>
        <p>
        <p>
        <button class="button-action" id="book-button">Book This Room</button>
    </form>

</div>
{% endblock %}
