{% extends "base.html" %}   
{% block content %}

<div class="info-container" id="confirmation-container" style="display: block;">
    <div class="info-container">
        <h1 style="text-align: center;">Booking Confirmation</h1>
        <p style="text-align: center;">Thank you for booking!</p>
        <p style="text-align: center;">Your booking details:</p>
      
        <h1>Booking details</h1>
        <p>Your booking details:</p>
        <p><strong>Booking reference:</strong>{{ booking_ID }}</p>
        <p><strong>Room ID:</strong>{{ room[0] }}</p>
        <p><strong>Room Type:</strong>{{ room[1] }}</p>
        <p><strong>Price Per Night:</strong>{{ room[2] }}</p>
        <p><strong>Total Price:</strong>{{ total_price }}</p>
        <p><strong>Name:</strong>{{ name }}</p>
        <p><strong>Email:</strong>{{ email }}</p>
        <p><strong>Start Date:</strong>{{ start_date }}</p>
        <p><strong>End Date:</strong>{{ end_date }}</p>
        <p><strong>Guests:</strong>{{ selected_guests }}</p>
    <div>
</div>

<script>
    var roomId = document.querySelector("input[name='room_id']").value;
    var roomType = document.querySelector("input[name='room_type']").value;
    var pricePerNight = document.querySelector("input[name='price_per_night']").value;
    var name = document.querySelector("input[name='name']").value;
    var email = document.querySelector("input[name='epost1']").value;

    sessionStorage.setItem('booked-booking_ID', booking_ID);
    sessionStorage.setItem('booked-room-id', roomId);
    sessionStorage.setItem('booked-room-type', roomType);
    sessionStorage.setItem('booked-price-per-night', pricePerNight);
    sessionStorage.setItem('booked-name', name);
    sessionStorage.setItem('booked-email', email);

    document.getElementById("booked-booking_ID").innerText = booking_ID;
    document.getElementById("booked-room-id").innerText = roomId;
    document.getElementById("booked-room-type").innerText = roomType;
    document.getElementById("booked-price-per-night").innerText = pricePerNight;
    document.getElementById("booked-name").innerText = name;
    document.getElementById("booked-email").innerText = email;

    document.getElementById("room-info-container").style.display = "none";
    document.getElementById("confirmation-container").style.display = "block";

    document.getElementById("booked-start-date").innerText = sessionStorage.getItem('start_date');
    document.getElementById("booked-end-date").innerText = sessionStorage.getItem('end_date');
    document.getElementById("booked-guests").innerText = sessionStorage.getItem('guests');
</script>
{% endblock %}


